.class-1{
    text-indent:60px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body{
    background-image: url("Plants HD Wallpapers (5).jpg");
}