*{
    width: auto;
    height: auto;
}
.navigation
{
    display: flex;
    flex-direction: row; 
    padding: 10px;
    border: 2px double purple;
    background-color: #dda0dd;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav-item{
    padding:10px; 


}
